html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

* {
    font-family: 'Boogaloo', cursive;

    
}

#button {
    border-radius: 50px;
    margin: 2%;
    background-color: #BD8E62;
    letter-spacing: 4px;
    cursor: pointer;
}

#button:hover {
    transition: 0.5s;
    background-color: wheat;
}

h1 {
    color: #370D00;
}

h6 {
    color: #BD8E62;
}

h4 {
    color: #370D00;
}

h5 {
    color: #D5D2C1;
}